/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Nue", "Helvetica", sans-serif;
    font-size: 16px;
    padding-top: 50px;
}

#about-slide-down {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#about-slide-down .about-wrap {
    position: absolute;
    z-index: 10;
}

#about-slide-down .about-wrap .message {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease;
}

#about-slide-down .about-wrap .message .message-content {
    letter-spacing: 1px;
    font-size: 20px;
    background-color: #5567A2;
    padding: 0 1rem 0 1rem;
    color: #E0E0E0;
}

#about-slide-down .about-wrap .message .message-content a {
    color: #B3E126;
}

#about-slide-down .about-wrap .message .message-content p {
    padding: 1rem 0 1rem;
}

.loading {
    padding:20px;
    text-align: center;
    background-image:url(../img/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height:400px;
}

.navbar {
    background-color: #5567A2;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-brand, .navbar-brand:hover {
    color: #FFF;
    text-shadow: none;
}

.navbar-inclucivics {
    color: #fefefe;
    font-size: 18px;
    letter-spacing: 1px;
}

.navbar-inclucivics a {
    color: #fefefe;
}

/*TODO integrate this properly*/
#about-link { color: #fefefe; }

#about-link.active {
    background-color: #5567A2;
    color: #5567A2;
}

.pie-charts p {
    font-size: 16pt;
    margin-top: 0.8in;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    margin-top: 4rem;
    background-color: #5567A2;
    color: #fefefe;
    padding-top: 1rem;
}

footer a {
    color: #fefefe;
}

.sticky-footer-wrap {
    min-height: 100%;
    margin-bottom: -100px; /* footer height */
}
.sticky-footer-wrap:after {
    content: "";
    display: "block";
}

.sticky-footer, .sticky-footer-wrap:after {
    height: 100px;
}

#line-graphs {
    width: 100%;
    min-width: 600px;
}

#about-message {
    padding: 0;
}

#main-content h4 {
    color:#374F9A;
}

#ntp {
    color:#AB509E;
}

.tabs {
    border-bottom: 1px solid grey;
}

.tabs .tab {
    border: 1px solid grey;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    display: inline-block;
}

.tabs .tab.active {
    border-bottom: 1px solid #fff;
}

.tabs .tab:last-child {

}

.tabs-content .tab-content {
   display: none;
}

.tabs-content .tab-content.active {
  display: block;
}
