

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;   
}

p {
    font-size: 14pt;
    font-family: Arial;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    margin-bottom: 25px;
}

footer {
    margin: 0 auto;
    width: 85%;
}

.jumbotron {
    margin-right: auto;
    margin-left: auto;
    padding-right: 7.5%;
    padding-left: 7.5%;

    background-color: #FFF;
    background-image:url(../img/nashville.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 250px;
    width: 100%;
    position: relative;
}

.jumbotron a {
    color: #EF5325;
    max-width: 1000px;
}

.jumbotron h1 {
    color:#489DB8;
    font-family: Arial, 'sans serif';

}

.jumbotron img {
  position: absolute;
  right: 5px;
  top: -20px;
}

.loading {
    padding:20px;
    text-align: center;
    background-image:url(../img/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height:400px;
}

.navbar {
    background-color:#374F9A;
    padding-left: 7.5%;
}

.navbar-brand {
    padding-left: 0;
}

.navbar-brand, .navbar-brand:hover {
    color:#FFF;
    text-shadow:none;
}

.jumbotron-title:hover {
  color: #489DB8;
}

.pie-charts p {
    font-size: 16pt;
    font-family: Arial;
    margin-top: 0.8in;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

.header-text {
    padding: 0;
}

#graph-filters {
    padding-bottom: 2em;
}

#graph-filters select {
    height: 32px;
    font-size: 18px;
}

#home-link:visited {
    color: white;
}

#line-graphs {
    padding-top: 2cm;
    width: 100%;
    min-width: 600px;
}

.container {
    padding: 0;
    max-width: 1200px;
}

#about-message {
    padding: 0;
}

#main-content h4 {
    color:#374F9A;
}

#ntp {
    color:#AB509E;
}

@media (max-width: 991px) {
  .jumbotron img {
    width: 35%;
  }
}

@media (max-width: 760px) {
  .jumbotron img {
    width: 25%;
    top: -25px;
  }

  .jumbotron {
    height: 200px;
  }
}

@media (max-width : 780px) {
  #main {
    /* Hack to get the content to ignore the 'Metro Humans Relations Commision' image
    hanging out of the nav */
  }
}

@media (max-width: 650px) {
  .jumbotron p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .jumbotron img {
    top: -35px;
    right: -5px;
  }
}












