.ExploreCharts__SelectContainer {
  margin-bottom: 2ex;
  min-width: 250px; /* Seems to look decent on mobile */
  width: 50%;
}

.ExploreCharts__SelectContainer label {
  margin: 1em 0 0 0;
  display: block;
}
