.ExploreCharts h2 {
  font-size: 1.1em;
}

.ExploreCharts__SelectContainer {
  margin-bottom: 2ex;
}

.ExploreCharts__Select {
  display: inline-block;
  margin-top: 2ex;
}

.ExploreCharts__DepartmentSelect {
  width: 400px;
  margin-right: 2em;
}

.ExploreCharts__MetricSelect {
  width: 150px;
}
